

<!--Display Roles-->
<section class="[ container ]">
    <div class="[ row ] [ align-items-center ]">
        <div class="[ col-lg-12 ]">
            <h2>Available Roles</h2>
        </div>
    </div>

    <div class="[ row mt-4 ]">
        <div class="[ col-lg-4 ]">
            <h1 class="[ text-secondary d-inline]">
                <span class="[ text-warning ]">
                    Marine
                </span>
                Role
            </h1>

            <div class="[ shadow-lg rounded-3 d-flex align-items-center justify-content-center mt-3 flex-column mt-4 ]" style="width: 300px; height: 300px;">
                <h2 id="display-marine" class="[ display-1 text-success ]"></h2>
            </div>
        </div>

        <div class="[ col-lg-4 ]">
            <h1 class="[ text-secondary d-inline]">
                <span class="[ text-warning ]">
                    Pirate
                </span>
                Role
            </h1>

            <div class="[ shadow-lg rounded-3 d-flex align-items-center justify-content-center mt-3 flex-column mt-4 ]" style="width: 300px; height: 300px;">
                <h2 id="display-pirate" class="[ display-1 text-success ]"></h2>
            </div>
        </div>

        <div class="[ col-lg-4 ]">
            <h1 class="[ text-secondary d-inline]">
                <span class="[ text-warning ]">
                    Government
                </span>
                Role
            </h1>

            <div class="[ shadow-lg rounded-3 d-flex align-items-center justify-content-center mt-3 flex-column mt-4 ]" style="width: 300px; height: 300px;">
                <h2 id="display-government" class="[ display-1 text-success ]"></h2>
            </div>
        </div>
    </div>
</section>
<!--Display Roles-->


@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/roleSystem.js"></script>
}
